p {
    font-size: 10px;
}

ion-avatar {
    width: 150px;
    height: 150px;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

ion-text {
    text-align: center;
    margin-top: 10px;
}

.container {
    margin: 10%;
}

.button_visitar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#usuario {
    display: block;
    margin: 3rem auto;
    text-align: center;
}

#button_acessar {
    margin-left: 30px;
}

#button_visitar {
    width: 18rem;
    color: black;
    border-radius: 8px;
    --background: #ebe9e9;
    border: 2px solid #776e6e;
}