<app-header></app-header>

<ion-content>
    <ion-item-group class="ion-margin-top ion-align-items-center">
        <h2 id="usuario">{{jsonGit.login}}</h2>
        <ion-avatar>
            <img [src]="jsonGit.avatar_url">
        </ion-avatar>
    </ion-item-group>

    <ion-item-group class="container">
        <ion-grid>
            <ion-row>
                <ion-text>Local:
                    <ion-text class="regular-text">{{jsonGit.location}}</ion-text>
                    <ion-text class="regular-text" *ngIf="jsonGit.location == null">Desconhecido</ion-text>

                </ion-text>
            </ion-row>
            <ion-row>
                <ion-text>Repositórios:
                    <ion-text class="regular-text">{{jsonGit.public_repos}}</ion-text>
                </ion-text>
                <ion-button href="visualizar-repositorios" class="button-fill">
                    <p>Veja meus repos</p>
                    <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
                </ion-button>
            </ion-row>
            <ion-row>
                <ion-text>Seguidores:
                    <ion-text class="regular-text">{{jsonGit.followers}}</ion-text>
                </ion-text>
            </ion-row>
            <ion-row>
                <ion-text>Seguindo:
                    <ion-text class="regular-text">{{jsonGit.following}}</ion-text>
                </ion-text>
            </ion-row>
            <ion-row>
                <ion-text>Biografia:
                    <ion-text class="regular-text">{{jsonGit.Biografia}}</ion-text>
                    <ion-text class="regular-text" *ngIf="jsonGit.Biografia == null">Desconhecido</ion-text>
                </ion-text>
            </ion-row>
        </ion-grid>
    </ion-item-group>

    <ion-item-group class="button-container">
        <ion-button class="button-borded">
            <ion-icon slot="end" name="logo-github" (click)="visitarPerfil()"></ion-icon>
            <p>visitar perfil no</p>
        </ion-button>
    </ion-item-group>

</ion-content>

<app-footer></app-footer>