<app-header></app-header>
<script>
  var link = user.login;
</script>

<ion-content *ngIf="user">
  <ion-item-group class="ion-margin-top ion-align-items-center">
    <h2 id="usuario">{{user.login}}</h2>
    <ion-avatar>
      <img [src]="user.avatar_url" />
    </ion-avatar>
  </ion-item-group>

  <ion-item-group class="container">
    <ion-grid>
      <ion-row>
        <ion-text>
          Local:
          <ion-text class="regular-text">{{user.location}}</ion-text>
          <ion-text class="regular-text" *ngIf="user.location == null">
            Desconhecido
          </ion-text>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          Repositórios:
          <ion-text class="regular-text">{{user.public_repos}}</ion-text>
        </ion-text>
        <ion-button
          [routerLink]="['/visualizar-repositorios', user.login]"
          class="button-fill"
        >
          <p>Veja meus repos</p>
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-text>
          Seguidores:
          <ion-text class="regular-text">{{user.followers}}</ion-text>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          Seguindo:
          <ion-text class="regular-text">{{user.following}}</ion-text>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-text>
          Biografia:
          <ion-text class="regular-text">{{user.bio}}</ion-text>
          <ion-text class="regular-text" *ngIf="user.bio == null">
            Desconhecido
          </ion-text>
        </ion-text>
      </ion-row>
    </ion-grid>
  </ion-item-group>

  <ion-item-group class="button-container">
    <ion-button class="button-borded" [href]="user.html_url">
      <ion-icon slot="end" name="logo-github"></ion-icon>
      <p>visitar perfil no</p>
    </ion-button>
  </ion-item-group>
</ion-content>

<app-footer></app-footer>
