ion-avatar {
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
}

ion-text {
    margin-top: 10px;
}

.container {
    margin-left: 3rem;
    margin-right: 3rem;
}

#usuario {
    display: block;
    text-align: center;
}

.button-fill {
    margin-left: auto;
}

.button-container {
    display: flex;
    justify-content: center;
}