<ion-header>
</ion-header>

<ion-content>
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-router-link href="main/explorar" class="home_itens">
                    <h1>explorar</h1>
                </ion-router-link>
            </ion-row>
            <ion-row>
                <!-- <ion-icon name="people-outline" class="home_icons"></ion-icon> -->
                <ion-router-link href="main/idealizadores" class="home_itens">
                    <h1>idealizadores</h1>
                </ion-router-link>
            </ion-row>
            <ion-row>
                <!-- <ion-icon name="log-out-outline" class="home_icons"></ion-icon> -->
                <ion-router-link href="" class="home_itens">
                    <h1>logout</h1>
                </ion-router-link>
            </ion-row>
        </ion-grid>





        <!-- 
    <ion-list>
        <ion-item>
             <ion-icon name="search-circle-outline"></ion-icon> -->

        <!-- </ion-item>
    <ion-item> -->


        <!-- <h1 class="home_itens">idealizadores</h1> -->
        <!-- </ion-item>
    <ion-item> -->

        <!-- <h1 class="home_itens">logout</h1> -->
        <!-- </ion-item>
    </ion-list> -->


    </div>
    <ion-item-divider></ion-item-divider>

    <ion-icon name="logo-github" id="github_icon"></ion-icon>

    <!-- <div class="container">

     <ion-img src="../../assets/images/github.png"></ion-img> -->


    <!-- <
<ion-tab-button tab="github">
    <ion-icon name="logo-octocat" size="large"></ion-icon>
</ion-tab-button> -->

    <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="github ">
            <ion-icon name="logo-octocat" size="large"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs> -->

    <!-- <ion-router-link href="main">main</ion-router-link> 

</ion-tabs>-->
</ion-content>