<<<<<<< HEAD
ion-card, ion-card-header{
  background-color: #ebe9e9;
}

.cards{
  background-color: #ebe9e9
}
=======
>>>>>>> main

ion-card-header, ion-avatar, ion-label, ion-item{
  --background: #EBE9E9;
}
ion-label{
  align-items: center;
}

ion-button{
  display: flex;
  justify-content: center;
}
