.search__label,
.recent-searched__title {
  margin-left: 1rem;
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.search-button {
  display: block;
  max-width: 22rem;
  color: black;
  margin: 1rem auto;
  font-size: 0.6rem;
  --background: #776e6e;
}

.recent-user__button {
  --background: transparent;
}