<app-header></app-header>

<ion-content>
  <ion-item-group>
    <ion-label class="search__label" for="user">
      pesquise por um login:
    </ion-label>
    <ion-searchbar
      animated
      placeholder="joao_pedro"
      id="user"
      class="searchbar"
      inputmode="search"
      enterkeyhint="enter"
      [(ngModel)]="username"
      (ionChange)="searchUser()"
    ></ion-searchbar>

    <ion-button class="button__fill search-button">
      <p routerLink="/visualizar-perfil/" color="dark">pesquisar</p>
    </ion-button>
  </ion-item-group>

  <ion-text class="recent-searched__title">últimos pesquisados:</ion-text>
  <ion-card class="recent-searched">
    <ion-card-content>
      <ion-item href="visualizar-perfil" class="recent-searched__item">
        <ion-text>usuario123</ion-text>
        <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
      </ion-item>
      <ion-item href="visualizar-perfil" class="recent-searched__item">
        <ion-text>usuario456</ion-text>
        <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
      </ion-item>
      <ion-item href="visualizar-perfil" class="recent-searched__item">
        <ion-text>usuario789</ion-text>
        <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>
