<app-header></app-header>

<ion-content>
  <ion-item-group>
    <ion-label class="search__label" for="users">
      pesquise por um login:
    </ion-label>
    <ion-searchbar
      [(ngModel)]="username"
      placeholder="joao_pedro"
    ></ion-searchbar>
    <ion-button
      class="button__fill search-button"
      (click)="getUser()"
      [routerLink]="['/visualizar-perfil/', username]"
    >
      <ion-text>pesquisar</ion-text>
    </ion-button>
  </ion-item-group>

  <!--<ion-content class="ion-padding">-->
  <!-- <ion-list>
        <ion-item>
            <ion-label>
                <p>{{usernamesRecent}}</p>
            </ion-label>
        </ion-item>
    </ion-list> -->
  <ion-text class="recent-searched__title">últimos pesquisados:</ion-text>
  <ion-card class="recent-searched">
    <ion-card-content>
      <!-- <ion-text class="recent-searched__item"> -->
      <!-- <ion-button [routerLink]="['/visualizar-perfil/', usernamesRecent.username]" class="recent-user"> -->
        <ion-item
          *ngFor="let usernames of usernamesRecent"
          class="recent-searched__item"
        >
          <ion-text>{{ usernamesRecent.username}}</ion-text>
          <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
        </ion-item>
      <!-- </ion-button> -->
      <!-- </ion-text> -->
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- animated id="user" class="searchbar" inputmode="search" enterkeyhint="enter" -->
<app-footer></app-footer>
