.botao-voltar {
  position: absolute;
  top: 25px;
  left: 20px;
  cursor: pointer;
  font-size: 30px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 15px;
  margin: 3rem 0;
}

.titulo-card {
  text-align: center;
  color: black;
}

ion-card {
  background-color: #ebe9e9;
}

.titulo-paragrafo {
  color: black;
}
