<app-header></app-header>
<ion-content>
  <ion-icon
    name="arrow-back-circle-outline"
    routerLink="/visualizar-perfil"
    class="botao-voltar"
  ></ion-icon>
  <h1>Repositórios</h1>
  <h2>{{login}}</h2>

  <ion-card *ngFor="let repo of repos" class="card">
    <ion-card-header>
      <ion-card-title class="titulo-card">{{repo.name}}</ion-card-title>
      <p>
        <b class="titulo-paragrafo">Descrição:</b>
        {{repo.description ? repo.description : 'Sem descrição'}}
      </p>
      <p><b class="titulo-paragrafo">Criado em:</b> {{(repo.created_at)}}</p>
      <p><b class="titulo-paragrafo">Pushed em:</b> {{repo.pushed_at}}</p>
      <ion-button routerLink="/visualizar-commits" class="button-fill">
        Veja meus commits
        <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
<app-footer></app-footer>
