<ion-header>
    <ion-toolbar>
        <ion-router-link href="main">main</ion-router-link>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">

            <!-- <ion-tab-button tab="people">
                <ion-icon name="person-circle"></ion-icon>
                <ion-label>Speakers</ion-label>
            </ion-tab-button>-->

            <ion-tab-button tab="github">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>github</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>