<ion-header> </ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <h1 routerLink="/explorar" class="home_itens cursor">
          <ion-icon class="icon" name="search-outline"></ion-icon> explorar
        </h1>
      </ion-row>
      <ion-row>
        <h1 routerLink="/idealizadores" class="home_itens cursor">
          <ion-icon class="icon" name="people-outline"></ion-icon> idealizadores
        </h1>
      </ion-row>
      <ion-row>
        <h1 routerLink="/github" class="home_itens cursor">
          <img src="../../assets/images/github (1).png" height="28" alt="" /> sobre
        </h1>
      </ion-row>
    </ion-grid>
  </div>
  <ion-item-divider></ion-item-divider>
  <ion-icon name="logo-github" id="github_icon"></ion-icon>
</ion-content>
<app-footer></app-footer>
