<ion-header>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row>
        <h1 routerLink="/explorar" class="home_itens cursor">Explorar</h1>
      </ion-row>
      <ion-row>
        <h1 routerLink="/idealizadores" class="home_itens cursor">Idealizadores</h1>
      </ion-row>
      <ion-row>
        <h1 routerLink="/criadores" class="home_itens cursor">Criadores</h1>
      </ion-row>
      <ion-row>
        <h1 routerLink="/" class="home_itens cursor">Login</h1>
      </ion-row>
    </ion-grid>

  </div>
  <ion-item-divider></ion-item-divider>

  <ion-icon name="logo-github" id="github_icon"></ion-icon>
</ion-content>
