<app-header></app-header>

<ion-content>
    <ion-icon name="arrow-back-circle-outline" routerLink="/visualizar-repositorios" class="botao-voltar"></ion-icon>
    <h1>Commits</h1>
    <h2>Repositório 2</h2>
  
    <br>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulo-card">SHA: 145B345C35M34</ion-card-title>
        <p><b class="titulo-paragrafo">Mensagem:</b> Mensagem do commit 1</p>
        <p><b class="titulo-paragrafo">Autor:</b> Usuário 123</p>
        <p><b class="titulo-paragrafo">Data do commit:</b> 07/09/2011</p>
        <p><b class="titulo-paragrafo">Horário do commit:</b> 18:30</p>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulo-card">SHA: 167C575B91M35</ion-card-title>
        <p><b class="titulo-paragrafo">Mensagem:</b> Mensagem do commit 2</p>
        <p><b class="titulo-paragrafo">Autor:</b> Usuário 123</p>
        <p><b class="titulo-paragrafo">Data do commit:</b> 07/09/2011</p>
        <p><b class="titulo-paragrafo">Horário do commit:</b> 19:30</p>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulo-card">SHA: 178D790F15L03</ion-card-title>
        <p><b class="titulo-paragrafo">Mensagem:</b> Mensagem do commit 3</p>
        <p><b class="titulo-paragrafo">Autor:</b> Usuário 123</p>
        <p><b class="titulo-paragrafo">Data do commit:</b> 07/09/2011</p>
        <p><b class="titulo-paragrafo">Horário do commit:</b> 20:30</p>
      </ion-card-header>
    </ion-card>
</ion-content>
<app-footer></app-footer>
