<app-header></app-header>

<ion-content>
  <ion-icon
    name="arrow-back-circle-outline"
    [routerLink]="['/visualizar-repositorios/', login]"
    class="botao-voltar"
  ></ion-icon>
  <h1>Commits</h1>
  <h2>{{repo}}</h2>

  <br />

  <ion-card *ngFor="let commit of commits" class="card">
    <ion-card-header>
      <ion-card-title class="titulo-card">SHA: {{commit.sha}}</ion-card-title>
      <p><b class="titulo-paragrafo">Mensagem:</b> {{commit.commit.message}}</p>
      <p><b class="titulo-paragrafo">Autor:</b> {{commit.commit.author.name}}</p>
      <p><b class="titulo-paragrafo">Data do commit:</b> {{commit.commit.author.date}}</p>
    </ion-card-header>
  </ion-card>
</ion-content>
<app-footer></app-footer>
