h1 {
    position: absolute;
    width: 78px;
    height: 43px;
    left: 199px;
    top: 134px;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 43px;
}

#github_icon {
    width: 235px;
    height: 235px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

ion-text {
    text-align: center;
    font-family: cursive;
    margin: 1rem auto;
}