h1{
  text-align: center;
}

#github_icon {
    width: 235px;
    height: 235px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p{
    text-align: justify;
    font-family: cursive;
    padding:  15px;
    margin: 0px;
}