/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

:root {
  /* Set the background of the entire app */
  --ion-background-color: #d1ccc0;

  /* Set the font family of the entire app */
  --ion-font-family: "Rock Salt", cursive;
}

.input__text {
  border-radius: 8px;
  padding: 0.6rem;
}

.regular-text {
  color: #776e6e;
}

.button-borded {
  width: 18rem;
  color: #776e6e;
  font-size: 0.6rem;
  border-radius: 8px;
  --background: #e5e5e5;
  border: 2px solid #776e6e;
}

.button-fill {
  width: 15rem;
  display: flex;
  color: black;
  margin: 0 auto;
  border-radius: 8px;
  font-size: 0.6rem;
  --background: #776e6e;
}
